* {
	box-sizing: border-box;
  }
  
  html {
	  height: 100%;
  
  }
  
  body {
	font-family: 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	  background-color: rgba(223, 242, 247, .5);
	  height: 100%;
	  margin: 0;
  }

  .container {
	  height: 500%;
  }
  
  .messages {
	  display: flex;
	  flex-direction: column;
	  overflow: scroll;
	  width: 100%;
	  background-color: white;
	  padding: 15px;
	  margin: 15px;
	  border-radius: 10px;
  }
  
